* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height:  100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.wasm-content {
  flex: 1;
  border-right: 1px solid black;
  margin-right: 8px;
}

.result {
  margin-top: 32px;
  color: green;
}

.js-content {
  flex: 1;
  margin-left: 8px;
}